DATABASE_URL=postgresql://postgres:mysecretpassword@localhost:5432/nvccake
# DATABASE_URL=postgresql://postgres:mysecretpassword@45.144.165.38:5432/nvccake
# DATABASE_URL=postgresql://postgres:mysecretpassword@192.168.2.100:5432/nvccake
#172.18.0.7
JWT_SECRET=euwQ5uyxfIdf02Zh7BE
PORT=3001
DB_NAME=nvccake
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mysecretpassword
POSTGRES_DB=nvccake
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
PG_DUMP_PATH=
PSQL_PATH=
RESTORE_KEY=030848